.cmake/
CMakeFiles/
Testing/
build*/
dist/
opencv4/
web/test/node_modules/
web/cimbar_js.js
web/cimbar_js.wasm
CMakeCache.txt
CMakeLists.txt.*
CTestTestfile.cmake
Makefile
callgrind.out*
cmake_install.cmake
